body {
  background-color: #9c835f !important;
}

.title {
  color: #f9b23d !important;
}

.container-title {
  margin-left: 1rem !important;
}

.player-name {
  margin: 1rem !important;
  font-size: 1rem !important;
}

.BackArrow {
  position: absolute;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #724c21 !important;
}

.batukertasgunting {
  margin: 2rem;
  max-width: 1rem !important;
  height: auto;
}

.vs {
  color: #bd0000;
  font-size: 5rem;
  margin: 2rem;
}

.game {
  margin-left: 15rem !important;
  color: black !important;
}

.refresh {
  margin: 2rem;
  margin-top: 5rem !important;
  max-width: 2rem !important;
  height: 2rem !important;
}

button {
  border: 0px;
  background-color: transparent;
}

/* // Very small devices (landscape phones, 400px and up) */
@media (min-width: 400px) {
  .container-title {
    margin-left: 1rem !important;
    font-size: 1rem !important;
  }

  .title {
    margin-left: 3rem;
    margin-top: 0.5rem;
  }

  .title-logo {
    margin-left: 0.5rem;
  }

  .player-name {
    margin: 1rem !important;
  }

  .BackArrow {
    position: absolute;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #724c21 !important;
  }

  .batukertasgunting {
    margin: 1rem;
    max-width: 5rem !important;
    height: auto;
  }

  .vs {
    color: #bd0000;
    font-size: 5rem;
    margin: 1rem;
  }

  .game {
    margin-left: 3rem !important;
    color: black !important;
  }

  .refresh {
    margin: 2rem;
    margin-top: 5rem !important;
    max-width: 2rem !important;
    height: 2rem !important;
  }

  button {
    border: 0px;
    background-color: transparent;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container-title {
    margin-left: 1rem !important;
  }

  .BackArrow {
    position: absolute;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #724c21 !important;
  }

  .batukertasgunting {
    margin: 1rem;
    max-width: 5rem !important;
    height: auto;
  }

  .vs {
    color: #bd0000;
    margin: 1rem;
    font-size: 5rem;
  }

  .game {
    margin-left: 5rem !important;
    color: black !important;
  }

  .refresh {
    margin: 1rem;
    margin-top: 5rem !important;
    max-width: 2rem !important;
    height: 2rem !important;
  }

  button {
    border: 0px;
    background-color: transparent;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container-title {
    margin-left: 1rem !important;
  }

  .BackArrow {
    position: absolute;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #724c21 !important;
  }

  .batukertasgunting {
    margin: 1rem;
    max-width: 5rem !important;
    height: auto;
  }

  .vs {
    color: #bd0000;
    font-size: 3rem;
    margin: 1rem !important;
  }

  .game {
    margin-left: 5rem !important;
    color: black !important;
  }

  .refresh {
    margin: 2rem;
    margin-top: 5rem !important;
    max-width: 2rem !important;
    height: 2rem !important;
  }

  button {
    border: 0px;
    background-color: transparent;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-title {
    margin-left: 1rem !important;
  }

  .BackArrow {
    position: absolute;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #724c21 !important;
  }

  .batukertasgunting {
    margin: 2rem;
    max-width: 5rem !important;
    height: auto;
  }

  .vs {
    color: #bd0000;
    font-size: 5rem;
  }

  .game {
    margin-left: 10rem !important;
    color: black !important;
  }

  .refresh {
    margin: 2rem;
    margin-top: 5rem !important;
    max-width: 2rem !important;
    height: 2rem !important;
  }

  button {
    border: 0px;
    background-color: transparent;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container-title {
    margin-left: 1rem !important;
  }

  .BackArrow {
    position: absolute;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #724c21 !important;
  }

  .batukertasgunting {
    margin: 2rem;
    max-width: 5rem !important;
    height: auto;
  }

  .vs {
    color: #bd0000;
    font-size: 5rem;
  }

  .game {
    margin-left: 15rem !important;
    color: black !important;
  }

  .refresh {
    margin: 2rem;
    margin-top: 5rem !important;
    max-width: 2rem !important;
    height: 2rem !important;
  }

  button {
    border: 0px;
    background-color: transparent;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container-title {
    margin-left: 1rem !important;
  }

  .BackArrow {
    position: absolute;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #724c21 !important;
  }

  .batukertasgunting {
    margin: 2rem;
    max-width: 5rem !important;
    height: auto;
  }

  .vs {
    color: #bd0000;
    font-size: 5rem;
  }

  .game {
    margin-left: 15rem !important;
    color: black !important;
  }

  .refresh {
    margin: 2rem;
    margin-top: 5rem !important;
    max-width: 2rem !important;
    height: 2rem !important;
  }

  button {
    border: 0px;
    background-color: transparent;
  }
}
